{% extends "base.html" %}

{% block title %}Register Turnover{% endblock %}
{% block heading %}Register Turnover{% endblock %}

{% block content %}
    <form method="POST" class="grid-form">
        <div class="form-row">
            <div class="form-group">
                <label for="ticker">Ticker</label>
                <input type="text" id="ticker" name="ticker" value="{{ ticker }}" required>
            </div>
            <div class="form-group">
                <label for="exchange">Exchange</label>
                <input type="text" id="exchange" name="exchange" value="{{ exchange }}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="start_date">Start Date</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>
            </div>
            <div class="form-group">
                <label for="end_date">End Date</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
            </div>
        </div>
        <div class="form-row">
            <input type="submit" value="Submit">
        </div>
    </form>

    
    <div class="plot-container">
        {{ plot_html | safe }}
    </div>

    <h2>ASX</h2>

    <div class="table-container">
        {{ tracking_html | safe }}
    </div>

   

{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get table rows
    const rows = document.querySelectorAll('table.table-striped tbody tr');
    
    rows.forEach(row => {
        row.addEventListener('dblclick', function() {
            const ticker = row.cells[0].innerText;
            const eventdate = row.cells[1].innerText;

            // Set the form values
            document.getElementById('ticker').value = ticker;
            document.getElementById('start_date').value = eventdate;
            document.getElementById('end_date').value = new Date().toISOString().split('T')[0]; // Today's date
        });
    });
});
</script>
{% endblock %}
